<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
    <script src="signup.js"></script>
</head>
<body>
    <section id="signup-section">
        <form action="" method="POST" class="form">
            <h1>Sign Up</h1>
            <div class="input-container">
                <ion-icon name="person-outline"></ion-icon>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <ion-icon name="mail-outline"></ion-icon>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="input-container">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <label for="password">Password</label>
                <input type="password" id="pass" name="pass" required>
            </div>
            <button type="submit">Sign Up</button>
            <div class="register">
                <p>Already have an account? <a href="login.html">Login</a></p>
            </div>
        </form>
    </section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>